<h1>Admin::Dashboard#show</h1>
<p>Welcome back <%= @admin_username %>!</p>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h2>You have:</h2>
<li><%= @count_products %> products</li>
<li><%= @count_categories%> categories</li>
