<h1>Admin::Dashboard#show</h1>
<div class="well">
  <h4>Welcome back <%= @admin_username %>!</h4>
  <p>Find me in app/views/admin/dashboard/show.html.erb</p>
</div>

<h4>You have:</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Products</th>
        <td><%= @count_products %></td>
      <th>Categories</th>
        <td><%= @count_categories%></td>
    </tr>
  </thead>
</table>